body{
  background-color: darkred;
  border:2px solid black;
 
  height: auto px;
  background-position: center;
}
p{
  margin-top: -10px;
}
.img-rounded{
  border-radius: 50%;
}
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
table{
  width: 100%;
}
th{
    background-color: D17C19 ;
    font color: white;
 }
th, td {
  padding: 5px;
  text-align: left;    
}
.heading{
    text-align: center;
    color: white;
    width: 100%;
    height: 350;
    background-color: black;
    font-size: 60px;
    font-weight: 700;
    font-style: oblique;
}
.self{
  font-family: 'Sacramento', cursive;
  background-color: darkorange;
  font-weight: 700;
  font-size: 150%;
  margin-top: auto;
}
.contact{
  background-image: url("../images/blackWorld.jpg");
  height: 6000;
}